# Ignore the pretrained_models folder
pretrained_models/
audio/
audio_cache/
image
image/
image\n
image\p
image/geenportretten/
HMI Vision data set extended.zip
eigenface_model.yml
eigenface_model.yml